GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"

APP_URL="YOUR_APP_URL_HERE"


CJ_API_KEY="YOUR_CJ_API_KEY_HERE"
CJ_EMAIL="YOUR_CJ_EMAIL_HERE"
CJ_PASSWORD="YOUR_CJ_PASSWORD_HERE"

FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_STORAGE_BUCKET=your-project.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=your_sender_id
FIREBASE_APP_ID=your_app_id
FIREBASE_MEASUREMENT_ID=your_measurement_id
OPENAI_API_KEY=your_openai_api_key_here